<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="styles.css">
    <style>
    </style>
</head>
<body>
    <h1 class="title">Password protected File Sharing website</h1>
        
    <form action="/upload" method="post" class="ipform" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file" name="file" id="uploadFile" required />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>
        <button type="submit" class="share">Share</button>
    </form>

    <% if(locals.fileLink){%>
        <div class="file-link-box">
            <h2>✅ File Uploaded Successfully!</h2>
            <p>Use the link below to download your file from anywhere:</p>
            <div class="link-container">
            <a href="<%= fileLink %>" id="myLink" target="_blank">🔗 Download File</a>
            <span class="copy-icon" onclick="copyToClipboard('myLink', this)">📋</span>
            </div>
        </div>
    <% }%>

    
    <script>
        function copyToClipboard(linkId, iconElement) {
            const link = document.getElementById(linkId).href;
            navigator.clipboard.writeText(link).then(() => {
            iconElement.textContent = "✅";
            iconElement.classList.add("copied");
            setTimeout(() => {
                iconElement.textContent = "📋";
                iconElement.classList.remove("copied");
            }, 2000);
            });
        }
    </script>
</body>
</html>